html {
	width:100%;
	height:100%;	
}

body {
	display:flex;
	width:100%;
	height:300%;	
	margin:0;
	font-family:OCR A Std, monospace;
	font-size: 30px;
	text-align: left;
	cursor: url("https://img.icons8.com/color/50/000000/the-sims.png") 10 10,auto;
	background-image:url("images/background.JPG");
}

a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color: blackhtml {
	width:100%;
	height:100%;	
}

body {
	display:flex;
	width:100%;
	height:300%;	
	margin:0;
	font-family:OCR A Std, monospace;
	font-size: 30px;
	text-align: left;
	cursor: url("https://img.icons8.com/color/50/000000/the-sims.png") 10 10,auto;
	background-image:url("images/background.JPG");
}

a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
}

a:hover{
	color: green;
	font-size: 100.9%;
}

.leave{
	display:none;
}

h1{
	font-family:Andale Mono, monospace;
	font-size: 30px;
	text-align: left;
	word-spacing: 100px;
}
	
p{
	border-style: solid;
    border-width: 15px;
	border-color: green;

}

.in1{
	width:10%;
	margin-top:50%;
}

	
.row{
	width:100%;
	height:25%;
	display:flex;
}

.page{
	height:35%;
	width:100%;
	display:block;
}

.row1{
	width:75%;
	height:100%;
}

.box{
	width:calc(4/100%);
	height:100%;
}
.rowi{
	width:100%;
	height:75%;
}
.rowo{
	width:100%;
	height:25%;
}
.rows{
	width:100%;
	height:15%;
	display:flex;
}

.in{
	margin-bottom:50%;
	width:10%;
}

.row2{
	width:75%;
	height:100%;
}
.box1{
	width:25%;
	height:100%;
}

.row3{
	width:100%;
	height:50%;
	display:flex;
}

.blank1{
	width:2%;
	height:100%;
}

.hold{
	justify-content:center;
	align-items:center;
}

.center {
  max-height: 100%;
  max-width: 100%;
 
}

.box3{
	width:33.33%;
	height:100%;
	display:flex;
}


.space{
	width:100%;
	height:10%;
	display:flex
}

.blank{
	width:20%;
	height:100%;
	display:block;
}

.photo{
	height:60%;
	display:flex;
	width:100%;
}

.boxs{
	width:60%;
	height:100%;
	display:flex;
}

.box9{
	width:50%;
	height:100%;
	display:flex;
}

.box91{
	width:50%;
	height:100%;
	display:flex;
}

.blank4{
	display:none;
}


.pulse{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

.width{
	width:100%;
}

/*tablet*/
@media only screen and (max-width: 800px) {
		
	body{
		height:150%;
		width:100%;
		background-image:url("images/background.JPG");
	}
	
	.blank1{
		display:none;
	}
	
	.box1{
		display:none;
	}
	
	.row2{
		width:100%;
	}
	
	.gone{
		display:none;
	}
	
	.box91{
		display:none;
	}
	
	.box9{
		width:100%;
	}
	
	.row2{
		display:none;
	}
	
	.new{
		content: url("images/original.png");
		margin:auto;
		max-height: 100%;
		max-width: 70%;	
	}
	
	.row{
		height:80%;
	}
	
	.space{
		display:none;
	}
	
	.box{
		display:none;
	}
	
	.rows{
		display:none;
	}
}	

/*phone*/
@media only screen and (max-width: 400px) {
	
	body{
		height:300%;
	}
	
	.row1{
		width:100%;
	}
	
	.blank{
		display:none;
	}
	
	.boxs{
		width:100%;
	}
	
	.row3{
		display:block;
		height:100%;
		width:100%;
	}	
	
	.box3{
		height:33.33%;
		width:100%;
	}
	
	.box9{
		height:100%;
		width:100%;	
	}
	
	.h1{
		display:none;
	}
	
	.a{
		display:none;
	}
	
	.photo{
		height:30%;
		width:100%;
	}
	
	.space{
		display:none;
	}
			
	.new{
		content: url("images/IMG_2265.PNG");
		height:30%;
	}
	
	.fit{
		content:url("images/goth1 - Copy.png");
	}
	
}
		
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus{
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
}
 .hvr-glow:active {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	transform: scale(0.99, 0.99);
}

.center5{
	width:17%;
}

.center6{
	width:15%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 1px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family:OCR A Std, monospace;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.inside{
	display:flex;
	align-items:center;
	justify-content:center;
}
}

a:hover{
	color: green;
	font-size: 100.9%;
}

.leave{
	display:none;
}

h1{
	font-family:Andale Mono, monospace;
	font-size: 30px;
	text-align: left;
	word-spacing: 100px;
}
	
p{
	border-style: solid;
    border-width: 15px;
	border-color: green;

}

.in1{
	width:10%;
	margin-top:50%;
}

	
.row{
	width:100%;
	height:25%;
	display:flex;
}

.page{
	height:35%;
	width:100%;
	display:block;
}

.row1{
	width:75%;
	height:100%;
}

.box{
	width:calc(4/100%);
	height:100%;
}
.rowi{
	width:100%;
	height:75%;
}
.rowo{
	width:100%;
	height:25%;
}
.rows{
	width:100%;
	height:15%;
	display:flex;
}

.in{
	margin-bottom:50%;
	width:10%;
}

.row2{
	width:75%;
	height:100%;
}
.box1{
	width:25%;
	height:100%;
}

.row3{
	width:100%;
	height:50%;
	display:flex;
}

.blank1{
	width:2%;
	height:100%;
}

.hold{
	justify-content:center;
	align-items:center;
}

.center {
  max-height: 100%;
  max-width: 100%;
 
}

.box3{
	width:33.33%;
	height:100%;
	display:flex;
}


.space{
	width:100%;
	height:10%;
	display:flex
}

.blank{
	width:20%;
	height:100%;
	display:block;
}

.photo{
	height:60%;
	display:flex;
	width:100%;
}

.boxs{
	width:60%;
	height:100%;
	display:flex;
}

.box9{
	width:50%;
	height:100%;
	display:flex;
}

.box91{
	width:50%;
	height:100%;
	display:flex;
}

.blank4{
	display:none;
}


.pulse{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

.width{
	width:100%;
}

/*tablet*/
@media only screen and (max-width: 800px) {
		
	body{
		height:150%;
		width:100%;
		background-image:url("images/background.JPG");
	}
	
	.blank1{
		display:none;
	}
	
	.box1{
		display:none;
	}
	
	.row2{
		width:100%;
	}
	
	.gone{
		display:none;
	}
	
	.box91{
		display:none;
	}
	
	.box9{
		width:100%;
	}
	
	.row2{
		display:none;
	}
	
	.new{
		content: url("images/original.png");
		margin:auto;
		max-height: 100%;
		max-width: 70%;	
	}
	
	.row{
		height:80%;
	}
	
	.space{
		display:none;
	}
	
	.box{
		display:none;
	}
	
	.rows{
		display:none;
	}
}	

/*phone*/
@media only screen and (max-width: 400px) {
	
	body{
		height:300%;
	}
	
	.row1{
		width:100%;
	}
	
	.blank{
		display:none;
	}
	
	.boxs{
		width:100%;
	}
	
	.row3{
		display:block;
		height:100%;
		width:100%;
	}	
	
	.box3{
		height:33.33%;
		width:100%;
	}
	
	.box9{
		height:100%;
		width:100%;	
	}
	
	.h1{
		display:none;
	}
	
	.a{
		display:none;
	}
	
	.photo{
		height:30%;
		width:100%;
	}
	
	.space{
		display:none;
	}
			
	.new{
		content: url("images/IMG_2265.PNG");
		height:30%;
	}
	
	.fit{
		content:url("images/goth1 - Copy.png");
	}
	
}
		
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus{
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
}
 .hvr-glow:active {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	transform: scale(0.99, 0.99);
}

.center5{
	width:17%;
}

.center6{
	width:15%;
}
